@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}
<title>K.R Trading Co. - Error.</title>
<link rel="icon" href="~/Images/dna logo.jpg">
<h1 class="text-danger">An error occurred while processing your request.</h1>

